{% extends 'temp.html' %}

{% block title %} Detail Result {% endblock %}

{% block side-pan %} 

    <div class="well profile-detail">
        <div class="row">
            <h2>{{ request.user.userprofilestudent.name}}</h2>
            <hr>
            <p><span>Department:</span>  {{ request.user.userprofilestudent.department}}</p>
            <p><span>Roll Number:</span> {{ request.user.userprofilestudent.rollnum}}</p>
            <p><span>Current Semester:</span> {{ request.user.userprofilestudent.semester}}</p>
            <a href="{% url 'account_logout' %}"><button type="button" class="btn btn-danger">Sign out</button></a>
            <a href="{% url 'student:EditProfile' %}"><button type="button" class="btn btn-warning">Edit Profile</button></a>
        </div>
    </div>

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="detail-result">
                    <h2><span class="label label-primary" style="color:#eeeeee;">{{ course.cid }}  {{ course.name }}</span></h2>
                    <hr>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Exam</th>
                                <th>Your Marks</th>
                                <th>Total Marks</th>
                                <th>Highest</th>
                                <th>Class Average</th>
                                <th>% of grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for res in results %}
                                <tr>
                                    <td>{{ res.exam_type }}</td>
                                    <td>{{ res.student_marks }}</td>
                                    <td>{{ res.total_marks }}</td>
                                    <td>{{ res.highest_marks }}</td>
                                    <td>{{ res.avg_marks }}</td>
                                    <td>{{ res.get_contribution}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Grade</th>
                                <th>Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ grade }}</td>
                                <td>{{ perc }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="edit-profile">
                    <div class="alert alert-info" role="alert" style="margin: 10px 0 10px 0;">
                        <h5>Send a query to the instructor of this course</h5>
                    </div>
                    <form action="{% url 'message:StudentSendMsg' cid=course.cid %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ msgform}}
                        <input type="submit" value="send" id="conf" class="btn btn-success">
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                            {% if "message-tag" in message.tags %}
                                <div class="alert alert-danger" role="alert" style="margin-top: 10px;">
                                    {{ message}}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}