<!DOCTYPE html>
<html>
    
<head>
    <title>{% block title %} <P>Title</P> {% endblock %}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//db.onlinewebfonts.com/c/208c60a0a6b9e5ebbc434f9f24c2aeae?family=Harlow+Solid+Italic" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
</head>

<body>
    <p>{{ user.name}}</p>
    <p>{{ user.department}}</p>
    <p>{{ user.rollnum}}</p>       
</body>

</html>