{% extends 'temp.html' %}

{% block title %} Home {% endblock %}

{% block nav %} 
    <ul class="nav flex-column">
        <li class="nav-item">
        <a class="nav-link " href="{% url 'instructor:HomeView' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'result:CreateResult' %}">Send Results</a>
        </li>
        <li class="nav-item">
        <a class="nav-link " href="{% url 'instructor:SentResultView' %}">Result History</a>
        </li>
    </ul>
{% endblock %}

{% block side-pan %} 
    <div class="well profile-detail">
        <div class="row">
            <h2>{{ request.user.userprofilefaculty.name}}</h2>
            <hr>
            <p>
                <span>Department:</span>  {{ request.user.userprofilefaculty.department}}
                <a href="{% url 'instructor:Inbox' %}">
                    <span class="glyphicon glyphicon-envelope" style="float:right; font-size: 200%; margin: 0 5px 0 5px;"></span>
                </a>
            </p>

            <a href="{% url 'account_logout' %}"><button type="button" class="btn btn-danger">Sign out</button></a>
        </div>
    </div>
{% endblock %}

{% block body %} 
{% endblock%}